.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --quicksand-font: "Quicksand", sans-serif;
  --white: #F7F7F7;
  --black:  #111111;
  --skyblue:#01ACFD;
  --orange:#FEA301;
  --full-White: #ffffff;
  --max-width: 1440px;
}

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.navBar {
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--full-White);
}



/* logo style part */
.branding {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--black);
}

#logoP1{
  font-weight: 700;
  color: var(--skyblue);
}

#logoP2{
  font-weight: 700;
  color: var(--orange);
}


/* nav links part */
.navLinks>ul{
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navLinks>ul>li>a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
}

#home{
  color: var(--orange);
}

#about{
  color: var(--skyblue);
}

#facilities{
  color: #05d4df;
}

#admission{
  color: #5d58ef;
}


/* nav button part */
.contact, .enroll{
  background-color: var(--orange);
  color: var(--white);
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 10px;
}

.contact:hover{
  background-color: var(--skyblue);
}


.bars{
  display: none;
  border: none;
  font-size: 2rem;
  background-color: var(--white);

}

/* banner section styles */

.banner{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  background-color: var(--full-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  align-items: center;
}

.bannerContent{
  width: 100%;
}

.bannerContent h2{
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0%;
}


.headingStart{
  color: var(--skyblue);
}

.headingEnd{
  color: var(--orange);
}

.bannerContent p{
  font-size: 1.2rem;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0%;
}

.enroll{
  background-color: var(--black);
}

.enroll:hover{
  background-color: var(--orange);
}



.bannerImage img{
  width: 100%;
}


/* curriculum section */

.curriculum{
  max-width: var(--max-width);
  margin: 20px auto;
  background-image: url(assets/bg.png);
}

.curriculum h2{
  font-size: 3.90rem;
  text-align: center;
}

.curriculumCardContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:28px
}

.curriculumCard p{
  width: 285px;
}

#firstCard{
  background-image: linear-gradient(to bottom, #DEF5FF, #ffffff);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction:column ;
  align-items: center;
}

#firstCard> a{
  color: #64C8FF;
  text-decoration: none;
}


#secondCard{
  background-image: linear-gradient(to bottom, #FFF4DC, #ffffff);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction:column ;
  align-items: center;
}

#secondCard> a{
  color: #F0AA00;
  text-decoration: none;
}

#thirdCard{
  background-image: linear-gradient(to bottom, #F2E8FF, #ffffff);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction:column ;
  align-items: center;
}


#thirdCard> a{
  color: #8700FF;
  text-decoration: none;
}


.navigationButtons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 50px auto;
}

.navigationButtons button{
  background-color: var(--orange);
  padding: 20px;
  border: none;
  border-radius: 50%;
  font-size: 2rem;
}

.navigationButtons i{
  color: #ffffff;
}

/* our story section style */

.storyContainer{
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 120px;
  background-image: linear-gradient(to bottom, #FFFFFF,  #fea10152), url(/assets/bg.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.storyCards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
}

.storyCard{
  background-color: var(--full-White);
  border-radius: 20px;
}

 .storyCard img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 0;
  border-radius: 20px 20px 0 0;
  display: block;
}

.cardImageContainer{
  position: relative;
}

.imageContainer img{
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 0;
  border-radius: 20px 20px 0 0;
  display: block;
  
}

.date{
  background-color: #01ACFD;
  color: white;                    
  font-size: 1rem;                 
  font-weight: 500;
  padding: 8px 20px;                
  border-radius: 35px;
  position: absolute;
  bottom: -30px;
  left: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.cardContent{
  padding: 20px;
}

#storyOne{
  width: 100%;
}

.otherStory{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  gap: 10px;
  margin-left: 20px;
}


/* footer section styles */

.footerContainer{
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--skyblue);
  padding: 100PX;
  
}

.brandColumn{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 120px;
}

.footerBranding{
  display: flex;
  align-items: center;
  color: var(--white);
  margin-bottom: 5px;
}

.footerBranding>h2{
  font-size: 2.8rem;
}

.footerBranding>img{
  width: 90px;
}

.brandColumn>p{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--white);
  padding: 5px;
}

.footNav{
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--white);
}

.footNav a{
  text-decoration: none;
  color: var(--white);
  padding: 20px 0;
}


.socialLinks{
  width: 100%;
  height: auto;
  color: var(--white);
  text-align: center;
}

.socialHeading{
  font-size: 1.8rem;
}

.footerIcons{
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}









/* media query for responsive design */

/* small devices */

@media screen and (max-width: 576px){

  .navBar {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    align-content: center;
    padding-right: 10px;
    border-bottom: 1px solid #F0AA00;
    box-sizing: border-box;

  }

  .branding>h1,.navLinks, .contact {
    display: none;
  }

  .bars{
    display: block;
  }

  /* banner section */
  .banner{
    max-width: 100%;
    margin: 0 auto;
    grid-template-columns:  repeat(1,1fr);
    box-sizing: border-box;

  }

  .bannerContent{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    order: 2;
  }

  .bannerContent h2{
    font-size: 2rem;
    line-height: normal;
  }

  .bannerContent p{
    font-size: 0.75rem;
    padding: 0;
    margin-bottom: 20;
  }

  .enroll{
    max-width: 140px;
    margin: 0 auto;
    font-size: 1rem;
    text-align: center;
    padding: 6px 24px; 
  }

  .bannerImage{
    width: 100%;
    margin: 0 auto;
    order: 1;
    box-sizing: border-box;
  }


    /* standard section */

  .curriculum{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    overflow-x: hidden;

  }

  .curriculum h2{
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
  }



  .curriculumCardContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    align-items: center;
    box-sizing: border-box;
  }

  .curriculumCard{
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .curriculumCard > img{
      max-width: 100%;
      height: auto;
      padding: 0;
  }

  .curriculumCard h4{
    font-size: 1.25rem;
  }

  .curriculumCard p, .curriculumCard a{
    font-size: 1rem;
  }

  .navigationButtons{
    display: none;
  }



  /* our story secy */
  .storyContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .otherStory{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  }

  .otherStory img {
    max-width: 100%;
  }

  .date{
    padding: 2px;
    font-size: x-small;
    bottom: -18px;
  }

  /* footer section */
  .footerContainer{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--skyblue);
  padding: 10px;
  overflow-x: hidden;
  
}

.brandColumn{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 50px;
}

.footerBranding{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}

.footerBranding>h2{
  font-size: 1.8rem;
  text-align: center;
}

.footerBranding>img{
  width: 70px;
}

.brandColumn>p{
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--white);
}

.footNav{
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  padding-bottom: 50px;
}

.footNav a{
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}


.socialLinks{
  width: 100%;
  height: auto;
  color: var(--white);
  text-align: center;
  padding-bottom: 50px;
}

.socialHeading{
  font-size: 1.5rem;
}

.footerIcons{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

  /* sheared styles */
  .hidden{
    display: none;
  }

  
}
